<?xml version="1.0" encoding="utf-8" ?>
<!--NLog日志配置-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="log/nlog.txt">
  <!--==========变量定义============-->
  <!--应用程序名称-->
  <variable name="applicationName" value="application"/>
  <!--日志输出目录-->
  <variable name="logPath" value="./log/${applicationName}/${level}/${shortdate}"/>

  <!--<extensions>
        <add assembly="Exceptionless.NLog"/>     
  </extensions>-->

  <!--===========输出目标===========-->
  <!--异步执行-->
  <targets async="true">
    <!--exceptionless-->
    <!--<target name="exceptionless" xsi:type="Exceptionless" apiKey="TbhcMNS4wAvqO1FymAwhkufUkdGHMRwmshX7fk17" serverUrl="http://localhost:8005" >
            <field name="host" layout="${machinename}" />
            <field name="identity" layout="${identity}" />
            <field name="windows-identity" layout="${windows-identity:userName=True:domain=False}" />
            <field name="process" layout="${processname}" />      
    </target>-->

    <!--写入文件，用于开发阶段排错-->
    <target name="file" xsi:type="File" fileName="${logPath}/${level}.log" layout="${date:format=yyyy-MM-dd-HH-mm-ss} ${callsite} ${message}" />

    <target name="nfile" xsi:type="File" fileName="${logPath}/NLog.log" layout="${date:format=yyyy-MM-dd-HH-mm-ss} ${callsite} ${message}" />

  </targets>
  <!--===========规则===========-->
  <rules>
    <!--所有日志写入文件，用于开发阶段排错-->
    <logger name="NLog"  writeTo="file"/>
    <!--<logger name="*"  writeTo="nfile,exceptionless">
      <filter>
        <when condition="equals('${logger}','NLog')" action="Ignore" />
      </filter>
    </logger>-->
  </rules>
</nlog>